.idea
target
.classpath
.project
.settings

.vscode
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
**/node_modules
**/target
*.DS_Store
.flattened-pom.xml
.editorconfig
build.properties
bin
.metadata
transaction.log
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
